/* .customer-list {
  width: 90%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

td {
  font-size: 14px;
  color: #555;
}

Link {
  color: #007bff;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .customer-list {
    display: block;
    overflow-x: auto;
  }

  th,
  td {
    display: block;
    width: 100%;
    text-align: center;
  }

  th {
    background-color: #007bff;
    color: #fff;
  }

  td {
    border-bottom: none;
  }

  td:last-child {
    border-bottom: 1px solid #ddd;
  }
} 

*/
@media screen and (max-width: 520px) {
  .customers-table label {
    font-size: 10px;
  }

  td.sorting_1 {
    width: 10px;
  }
  .dataTables_info {
    font-size: 10px;
  }
  th {
    font-size: 10px;
  }
  td {
    font-size: 10px;
  }
}
/* .customers-table {
  width: 100%;
  overflow-x: auto;
} */

@media (max-width: 767px) {
  .customers-table {
    width: 100%;
    overflow-x: scroll;
  }
  .dataTables_filter label input {
    width: 50%;
  }
  .paginate_button {
    font-size: 8px;
  }
}
