.sidebar {
  width: 250px;
  min-width: 200px;
  background: var(--primary-color);
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  color: #fff;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}
.sidebar-content {
  position: fixed;
  width: inherit;
}
.sidebar .user {
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  padding: 40px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.sidebar .links {
  margin-top: 80px;
  margin-left: 20px;
}
.sidebar .links li {
  margin-top: 10px;
}
.sidebar .links a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
}
.sidebar .links img {
  margin-right: 10px;
  filter: invert(100%);
}
.sidebar .links a.active {
  color: #555;
  background: var(--bg-color);
  border-radius: 20px 0 0 20px;
}
.sidebar .links .active img {
  filter: invert(40%);
}

@media (max-width: 1020px) {
  .sidebar {
    width: 200px;
  }
}
@media screen and (max-width: 820px) {
  .sidebar {
    width: 100vw;
    background: var(--primary-color);
    min-height: 20vh;
    box-sizing: border-box;
    position: relative;
    color: #fff;
  }
  .sidebar-content {
    position: unset;
    width: inherit;
  }

  .sidebar .user {
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    padding: 10px 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .sidebar .links {
    margin-top: 10px;
    margin-left: 5px;
  }
  .sidebar .links li {
    margin-top: 10px;
  }
  .sidebar .links a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    width: 100%;
    color: #fff;
    box-sizing: border-box;
  }
  .sidebar .links img {
    margin-right: 10px;
    filter: invert(100%);
  }
  .sidebar .links a.active {
    color: #555;
    background: var(--bg-color);
    border-radius: 20px 0 0 20px;
  }
  .sidebar .links .active img {
    filter: invert(40%);
  }
}

@media screen and (max-width: 420px) {
  p {
    font-size: 15px;
  }
  .sidebar {
    margin-bottom: 0px;
  }
  a {
    font-size: 13px;
  }
}
